{% extends 'student_URLs/student_temp.html' %}


{% block title %}
Studnet | Cancle Booking
{% endblock title %}

{% block mainbody %}


<section class="form-02-main login_page">
  <div class="container">

      <div class="row">
          <div class="col-md-12">
              <div class="_lk_de">
                  <div class="form-04-main">
                      <div class="logo">
                          <img src="/static/images/public_images/user.png">
                      </div>

                      <h1 class="text-center">Cancel Booking</h1>
                      <br><br><br>



<div class="container">
  
  <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
    {% for item in booking_data %}
    {% if item[4] > 0 %}
        
    <div class="col-7" style="font-size: medium;">
        <h4 
        style="color:rgb(120,120,120); margin-bottom:4px;">
    </h4>
    <br>
    <div>
      Product Name:  <b>{{item[0]}}</b>
    </div>

    <div>
        Products Type: <b>{{item[1]}}</b>
    </div>

    <div>
        Date of Booking:<b>{{item[3]}}</b>
    </div>
    <div>
        Total Number of Products:<b>{{item[4]}}</b>
        
    </div>
    <div>
      Student Email: <br> <b>{{item[2]}}</b>
      <br><br>
  </div>


    
  </div>
  <div class="col-5 padding-right:16px">
      <img style="width: 180px; height: 200px;" src="/static/{{item[5]}}" alt="image">
    </div>

    <div class="col-sm-12 col-lg-6">
      <form id="booking-form" action="{{ url_for('cancel_booking', paths=item , data = data) }}" method="post">
          <button type="submit" class="_btn_04">Cancle Booking</button>
      </form>
      <br><br>
  </div>
  <br><br><br>
  <hr>
  <br>
  <br><br>
  {% endif %}
  {% endfor %}
</div>


{% endblock mainbody %}