{% extends 'student_URLs/student_temp.html' %}


{% block title %}
Student | HOME
{% endblock title %}

{% block mainbody %}


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message, category in messages %}

{% if category == 'student_login' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>
</div>
{% elif category == 'no_notifiction_for_student' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>
</div>
{% elif category == 'booking_request_send' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>
</div>

{% elif category == 'no_booking_approved' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>
</div>



{% endif %}
{% endfor %}
{% endif %}

{% endwith %}





<h1> This is student home or Dashboard</h1>

{{data}}




<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus eum obcaecati
    velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente vitae voluptate omnis.</p>

{% endblock mainbody %}