{% extends 'sport_officer_URLs/sport_officer_temp.html' %}


{% block title %}
Sport Officer | Store
{% endblock title %}

{% block mainbody %}


<section class="form-02-main login_page">
    <div class="container">
        <br>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message, category in messages %}
        
        {% if category == 'student_login' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">{{ message }}
                <button type="button" class="close" item-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
        {% elif category == 'no_notifiction_for_student' %}
        <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">{{ message }}
                <button type="button" class="close" item-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
        
        
        {% endif %}
        {% endfor %}
        {% endif %}
        
        {% endwith %}
        
        

        
        


        <div class="row">
            <div class="col-md-12">
                <div class="_lk_de">
                    <div class="form-04-main">
                        <div class="logo">
                            <img src="/static/images/public_images/user.png">
                        </div>

                        <h1 class="text-center">Equipment Store</h1>
                        <br><br>





<div class="container">
  
  <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
    {% for item in store_data %}
        
    <div class="col-7" style="font-size: medium;">
        <h4 
        style="color:rgb(120,120,120); margin-bottom:4px;">
    </h4>
    <br>
    <div>
      Product Name: <b>{{item[0]}}</b>
    </div>

    <div>
        Product Type: <b>{{item[3]}}</b>
    </div>
    <div>
        Total Number of Producr: <b>{{item[1]}}</b>
    </div>
    <div>
        Avaible in store: <b>{{item[2]}}</b>
    </div>
    <div>
        Product Descipation: <br> <b>{{item[4]}}</b>
    </div>
    
  </div>
  <div class="col-5 padding-right:16px">
      <img style="width: 180px; height: 200px;" src="/static/{{item[5]}}" alt="image">
    </div>
  <br><br><br>
  <hr>
  <br>
  <br><br>
  {% endfor %}
</div>



{% endblock mainbody %}